body {
    color: rgb(114, 82, 25);
    background-color: rgb(232 245 233);
}

h1 {
    text-align: center;
}

.container {
    background: rgb(235, 222, 193);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
}
button {
    background-color: rgb(204, 172, 116);
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(186, 149, 85);
}
input, select {
    border: 1px solid rgb(186, 149, 85);
    border-radius: 5px;
    font-size: 14px;
}
label {
    font-weight: bold;
    margin: 10px  5px;
}
